//- Basic Inheritance & Block
html
  head
    title Basic Inheritance
  body
    header
      h1 Welcome to My Website
    block content
      .main This is the main content for the base page
      .main This is the main content for the base page
      .main This is the main content for the base page
      .main This is the main content for the base page
    footer
      p &copy; 2024 My Website
