* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  margin-left: 90px;
  margin-right: 90px;
  padding: 70px 0;
  background-color: #f89422;
}

.clear {
  clear: both;
}

/* Start Header */
header {
  /* background-color: #f89422; */
  .main {
    margin: auto;
    width: 80%;
  }
}

.image {
  float: left;
  width: calc(100% / 3);
  .avatar {
    margin: auto;
    width: 300px;
    border-radius: 50%;
    .me {
      max-height: 100%;
      max-width: 100%;
      border-radius: 50%;
    }
  }
}

.person {
  font-family: "Poppins", system-ui;
  width: calc(100% - (100% / 3));
  float: right;
  .content {
    width: 715px;
    margin: 50px 85px 0;
    h2 {
      font-size: 87px;
      width: fit-content;
    }
    .title {
      width: fit-content;
      font-weight: bold;
      margin-top: 5px;
      font-size: 25px;
    }
    .description {
      margin: 10px 0 10px;
      line-height: 1.6;
      width: 620px;
    }
  }
}
/* End Header */

/* Start Aside */
.main-content {
  .container {
    background-color: white;
  }
  .f-side {
    float: left;
    width: calc(100% / 3);
    .f-container:not(:first-child) {
      margin-top: 30px;
    }
    h2 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 35px;
      font-family: "Poppins", system-ui;
    }
    .contact {
      margin: auto;
      width: 290px;
      li {
        font-size: 20px;
        margin-bottom: 10px;
        i {
          padding-right: 5px;
          text-align: center;
        }
      }
    }
    .langs {
      .prog {
        font-family: "Poppins", system-ui;
        position: relative;
        height: 30px;
        background-color: #ccc;
        &::after {
          position: absolute;
          content: "";
          height: 100%;
        }
        &:nth-child(2):after {
          width: 90%;
          background-color: #f89422;
        }
        &:nth-child(4):after {
          width: 70%;
          background-color: skyblue;
        }
        &:nth-child(6):after {
          width: 60%;
          background-color: red;
        }
      }
      .skill {
        margin-right: 10px;
        position: relative;
        display: inline-block;
        width: 59px;
        height: 59px;
        border-radius: 50%;
        background: conic-gradient(#f89422 323deg, #ccc 0deg);
        &::after {
          content: "AI";
          position: relative;
          background-color: white;
          border-radius: 50%;
          padding: 13px;
          left: 10.1%;
          top: 31.5%;
        }
        &:nth-child(2) {
          background: conic-gradient(#23c0f0 226deg, #ccc 258deg);
        }
        &:nth-child(3) {
          background: conic-gradient(#e9442e 154deg, #ccc 229deg);
        }
        &:nth-child(4) {
          background: conic-gradient(rgb(255, 208, 0) 57deg, #ccc 82deg);
        }
      }
    }
    .social {
      a {
        margin-right: 42px;
      }
      position: relative;
      i {
        font-size: 45px;
        &.fb {
          color: #23c0f0;
        }
        &.gog {
          color: #e9442e;
        }
      }
      span {
        position: relative;
        bottom: 10px;
        left: 7px;
      }
    }
  }
  .s-container {
    margin-left: 7%;
    font-family: "Poppins", system-ui;
  }
  .s-side {
    float: right;
    width: calc(100% - (100% / 3));
    .s-container:not(:first-child) {
      margin-top: 30px;
    }
    h2 {
      font-size: 36px;
      width: fit-content;
      padding: 0 90px 0 25px;
      background-color: #f89422;
      margin-bottom: 20px;
    }
    .content {
      .project {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 5px;
      }
      .description {
        margin-bottom: 5px;
        width: 930px;
        font-size: 22px;
      }
    }
  }
}
/* End Aside */

footer {
  position: relative;
  background-color: #e9442e;
  margin-top: 40px;
  height: 30px;
  &::before {
    position: relative;
    content: "";
    padding: 3px 384px 10px 231px;
    left: 32%;
    bottom: -3px;
    background-color: #f89422;
  }
  &::after {
    position: relative;
    content: "";
    padding: 3px 384px 10px 231px;
    left: 32%;
    bottom: -3px;
    background-color: #23c0f0;
  }
}
