//-Combining Inheritance, Prepend & Append, and Case
html
  head
    title Combining Concepts
  body
    block header
      header
        h1 Default Header
    block content
        .main Main Content
    block footer
      footer
        p &copy; 2024 My Website
