//- Inheritance With Prepend & Append
html
  head
    title Prepend and Append Example
  body
    header
      h1 My Website
    block content
      .main This The Main Content Of The Layout Page!
    footer
      p &copy; 2024 My Website
